<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item <%= (url == "/dashboard")?'active':'' %>">
      <a class="nav-link" href="/dashboard">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item <%= (url == "/category" || url == "/category/add")?'active':'' %>">
      <a class="nav-link" data-toggle="collapse" href="#category-manager" aria-expanded="false" aria-controls="category-manager">
        <span class="menu-title">Category manager</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <div class="collapse <%= (url == "/category" || url == "/category/add")?'show':'' %>" id="category-manager">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link <%= (url == "/category")?'active':'' %>" href="/category">Category list</a>
          </li>
          <li class="nav-item"> <a class="nav-link <%= (url == "/category/add")?'active':'' %>" href="/category/add">Category add</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item <%= (url == "/brand" || url == "/brand/add")?'active':'' %>">
      <a class="nav-link" data-toggle="collapse" href="#brand-manager" aria-expanded="false" aria-controls="brand-manager">
        <span class="menu-title">Brand manager</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <div class="collapse <%= (url == "/brand" || url == "/brand/add")?'show':'' %>" id="brand-manager">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link <%= (url == "/brand")?'active':'' %>" href="/brand">Brand list</a>
          </li>
          <li class="nav-item"> <a class="nav-link <%= (url == "/brand/add")?'active':'' %>" href="/brand/add">Brand add</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item <%= (url == "/product" || url == "/product/add")?'active':'' %>">
      <a class="nav-link" data-toggle="collapse" href="#product-manager" aria-expanded="false" aria-controls="product-manager">
        <span class="menu-title">Product manager</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse <%= (url == "/product" || url == "/product/add")?'show':'' %>" id="product-manager">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link <%= (url == "/product")?'active':'' %>" href="/product">Product list</a>
          </li>
          <li class="nav-item"> <a class="nav-link <%= (url == "/product/add")?'active':'' %>" href="/product/add">Product add</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>