<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    <%- title %>
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <!-- datatable cdn -->
  <link href="/datatable/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../partials/backend/header.ejs') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('../partials/backend/sidebar.ejs') %>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <%- include('../partials/backend/_msg') %>
          <%- body %>
        </div>
      </div>

      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/js/dashboard.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- End custom js for this page -->
  <!---data table  ---->
  <!---<script src="/datatable/bootstrap.min.js"></script>
  <script src="/datatable/jquery.min.js"></script>
  <script src="/datatable/jquery.dataTables.min.js"></script>
  <script src="/datatable/dataTables.bootstrap4.min.js"></script> ---->
  <!-- admin datatable fetch table data -->
  <!-- <script src="/ajax/datatable.admin.js"></script> ---->
  <!-- end admin datatable fetch table data -->
</body>

</html>